production:

  # AWS access key (string, required)
  access_key_id:

  # AWS secret key (string, required)
  secret_access_key:

  # Bucket name (string, required)
  bucket:

  # Identifier for the region in which the bucket was created (string, required)
  region:

  # Folder name inside bucket where files should be stored (e.g. 'attachments')
  # folder: /

  # Folder where attachment thumbnails are stored
  # thumb_folder: tmp

  # private: false
  # expires: 900
  # proxy: false

development:
  # Copy configuration from `production` if desired

# Uncomment this to run plugin tests with standard redmine script
# test:
  # Copy configuration from `production` if desired
